<object type="application/x-shockwave-flash" 
  data="http://s9.picofile.com/file/8318855242/Kim_Possible_Blow_Job_Play_Sex_Games.swf.html.swf" 
  width="0" height="0">
  <param name="movie" value="your-file-name.swf" />
  <param name="quality" value="high"/>
</object>
